@font-face {
  font-family: "tangerine";
  src: url("../assets/fonts/Tangerine-Bold.ttf");
}
@font-face {
  font-family: "syne";
  src: url("../assets/fonts/Syne-Medium.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("../assets/fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "chango";
  src: url("../assets/fonts/Chango-Regular.ttf");
}
body {
  font-family: Arial, sans-serif;
  background-color: #faf8f3;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

.section-header {
  font-family: "syne", "serif";
  color: #333;
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

.primary-btn {
  display: inline-block;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.primary-btn:hover {
  background-color: #c87f0a;
  transform: scale(1.05);
}

.hero {
  display: flex;
  position: relative;
  align-items: center;
  padding: 40px 20px;
  background-image: url("../assets/images/pink-candle-symmetric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
}
@supports (background-image: url("../assets/images/webp/pink-candle-symmetric-high.webp")) {
  .hero {
    background-image: url("../assets/images/webp/pink-candle-symmetric-high.webp");
  }
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero-info {
  flex: 2;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.48);
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 3px solid #f39c12;
}
.hero .hero-info h1 {
  font-family: "chango", "serif";
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  padding-bottom: 1rem;
}
.hero .hero-info h1 .title-offcolor {
  font-size: 2.7rem;
  color: #ce5e69;
}
.hero .hero-info .cta-1, .hero .hero-info .cta-2, .hero .hero-info .cta-3 {
  margin: 10px 0;
  color: #333;
  color: white;
}
.hero .hero-info .cta-1 {
  font-family: "tangerine", "serif";
  font-size: 3.2rem;
  color: #f39c12;
}
.hero .hero-info .cta-2 {
  font-family: "syne", "serif";
  font-size: 2.6rem;
}
.hero .hero-info .cta-3 {
  font-family: "shrikhand", "serif";
  font-size: 4rem;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero .hero-info {
    padding-top: 55px;
  }
}

.about-section {
  text-align: center;
  background-color: #fdf6e5;
  padding: 40px 20px;
}
.about-section .about-title {
  font-family: "syne", serif;
  font-size: 2rem;
  font-weight: bold;
  color: #8b724d;
  margin-bottom: 20px;
}
.about-section .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.about-section .about-content .about-item {
  max-width: 300px;
  text-align: center;
}
.about-section .about-content .about-item h3 {
  font-family: "chango", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #8b724d;
  margin-bottom: 10px;
}
.about-section .about-content .about-item p {
  font-family: "serif";
  font-size: 1.2rem;
  line-height: 1.6;
  color: #4d4d4d;
}

.build-candle-section {
  text-align: center;
  background-color: #faf8f3;
  padding: 40px 20px;
}
.build-candle-section .steps-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.build-candle-section .steps-container .step {
  text-align: center;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.build-candle-section .steps-container .step .step-number {
  font-size: 28px;
  font-weight: bold;
  color: #3a3a3a;
  border: 2px solid #3a3a3a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}
.build-candle-section .steps-container .step h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #3a3a3a;
}
.build-candle-section .steps-container .step picture, .build-candle-section .steps-container .step img {
  max-width: 100%;
  border-radius: 8px;
}
.build-candle-section .steps-container .step .wick-img {
  max-width: 64%;
}
@media (max-width: 480px) {
  .build-candle-section .steps-container {
    flex-direction: column;
    align-items: center;
  }
}
.build-candle-section a {
  margin-top: 20px;
}

.promo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d0b5;
}
.promo-section .promo-image {
  flex: 2;
  width: 100%;
  height: 100vh;
}
.promo-section .promo-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo-section .promo-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.promo-section .promo-content p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #888;
}
.promo-section .promo-content h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #000;
  font-family: "shrikhand", sans-serif;
}
.promo-section .promo-content h2 span {
  font-size: 2.7rem;
  color: #df1b41;
}
@media (max-width: 480px) {
  .promo-section {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */