header {
  display: flex;
  z-index: 999;
  width: 100%;
  background-color: #d9d0b5;
}
header nav {
  padding: 0 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  flex-shrink: 0;
}
header nav .logo img {
  width: 120px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .nav-links {
  display: flex;
  align-items: center;
  gap: 27px;
}
header nav .nav-links ul {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
header nav .nav-links .nav-link {
  position: relative;
  cursor: pointer;
  padding: 20px;
}
header nav .nav-links .nav-link a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s;
}
header nav .nav-links .nav-link a:hover {
  background-color: #f39c12;
}
header nav .nav-links #cartContainer {
  list-style: none;
}
header nav .nav-links #cartContainer #cartNavBtn {
  font-weight: bold;
  background-color: #f39c12;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav-links #cartContainer #cartNavBtn:hover {
  background-color: #c87f0a;
}
header nav .nav-links #cartContainer #continueShoppingLink {
  color: #495aaa;
  font-size: 1rem;
  text-decoration: none;
}
header .hamburger-menu {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}
header .hamburger-menu div {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
  transform-origin: center;
}
header .hamburger-menu.open {
  height: 16px;
}
header .hamburger-menu.open div:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}
header .hamburger-menu.open div:nth-child(2) {
  opacity: 0;
}
header .hamburger-menu.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}
header #cartContainer {
  position: relative;
  list-style: none;
  z-index: 3;
  margin-left: 15px;
}
header #cartContainer #cartNavBtn {
  font-weight: bold;
  background-color: #f39c12;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
header #cartContainer #cartNavBtn:hover {
  background-color: #c87f0a;
}
@media (max-width: 768px) {
  header nav ul {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #d9d0b5;
    width: 80%;
    height: 100vh;
    max-width: 300px;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    z-index: 1;
  }
  header nav ul a {
    margin: 0;
    border: none;
    width: 100%;
    color: #000;
    font-size: 1.2rem;
  }
  header nav ul.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  header nav ul.open .nav-link {
    width: 100%;
  }
  header nav ul.open .nav-link a {
    display: inline-block;
    width: 100%;
  }
  header nav ul.open .nav-link .dropdown {
    position: static;
    width: 122%;
    background: none;
    box-shadow: none;
    padding-top: 200px;
    margin: 0 -20px;
    padding-top: 200px;
    height: 110vh;
  }
  header nav ul.open .nav-link .dropdown li {
    width: 100%;
    padding: 0 10px;
  }
  header nav ul.open .nav-link .dropdown li a {
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  header nav .hamburger-menu {
    display: flex;
  }
  header #cartContainer {
    top: 4px;
    right: 12px;
    margin: 0;
  }
}/*# sourceMappingURL=navbar.css.map */