body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #faf8f3;
  box-sizing: border-box;
}

.custom-radio {
  width: 20px;
  height: 20px;
  accent-color: #495aaa;
  cursor: pointer;
}
.custom-radio:hover {
  box-shadow: 0 0 5px #f39c12;
}

.build-candle-section {
  padding: 2rem;
  font-family: "Arial", sans-serif;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}
.build-candle-section .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2d2d2d;
}
.build-candle-section .step {
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}
.build-candle-section .step .step-number {
  min-width: 30px;
  background-color: #f39c12;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.build-candle-section .step .step-title {
  text-align: left;
}
.build-candle-section .step .step-title h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .build-candle-section {
    align-items: flex-start;
  }
}

.fragerance-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf8f3;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.fragerance-list .list-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  width: 90%;
}
.fragerance-list .list-item .list-text {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.fragerance-list .list-item .list-text .title {
  white-space: nowrap;
}
.fragerance-list .list-item .list-text .title .tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.fragerance-list .list-item .list-text .title .tag.NEW {
  background-color: #f39c12;
}
.fragerance-list .list-item .list-text .title .tag.SEASONAL {
  background-color: #c0392b;
}
.fragerance-list .list-item .list-text .description {
  font-style: italic;
}
.fragerance-list .list-item:nth-child(odd) {
  background-color: #efca94;
}
.fragerance-list .list-item:nth-child(odd):hover {
  background-color: #e8b468;
  cursor: pointer;
}
.fragerance-list .list-item:nth-child(even) {
  background-color: #d9d0b5;
}
.fragerance-list .list-item:nth-child(even):hover {
  background-color: #c8bb93;
  cursor: pointer;
}
@media (max-width: 480px) {
  .fragerance-list {
    padding: 20px;
    width: 90%;
  }
  .fragerance-list .list-item .description {
    display: none;
  }
}

.selection {
  display: flex;
  gap: 53px;
  border: 2px solid #f8f8f8;
  background-color: #faf8f3;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.selection .selection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid rgba(204, 204, 204, 0.2666666667);
  border-radius: 10px;
  text-align: center;
}
.selection .selection-card:nth-child(3n) {
  border-right: none; /* Remove right border for the last column */
}
.selection .selection-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
  cursor: pointer;
}
.selection .selection-card .card-image {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-bottom: 20px;
}
.selection .selection-card .card-name {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.12em;
  margin: 10px 0;
  color: #333;
}
.selection .selection-card .card-name .price {
  font-style: italic;
  color: green;
}

.product-summary {
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  border-top: solid 2px;
  background: #fdfdfd;
}
.product-summary h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}
.product-summary .product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf8f3;
  border-radius: 8px;
  overflow: hidden;
}
.product-summary .product .product-info {
  padding: 1.5rem;
  text-align: center;
}
.product-summary .product .product-info h3 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 0.75rem;
}
.product-summary .product .product-info .description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.product-summary .product .product-info .price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f39c12;
}
.product-summary .product .product-info .add-to-cart {
  background-color: #495aaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}
.product-summary .product .product-info .add-to-cart:hover {
  background-color: #858585;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  border: 2px solid #f8f8f8;
  background-color: white;
  text-align: start;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.text-box .text-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}
.text-box .text-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  color: #555;
}/*# sourceMappingURL=products.css.map */