@import 'variables';

#cartOverlay, #cartPopover {
    display: none; /* Hide initially */
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // Dim background color
    align-items: center;
    justify-content: center;
    z-index: 999; 
    display: flex;
}



.cart-popover {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: block;
    margin: 15px;
    max-height: 90%;
    overflow-y: auto;

    /* Dimmed overlay */
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000; 
    }
    
    /* Spinner */
    .spinner {
        border: 6px solid rgba(255, 255, 255, 0.3);
        border-left-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .close-btn {
        position: absolute;
        top: 15px;
        left: 15px;
        background: none;
        border: none;
        font-size: 32px;
        color: #9e9e9e;
        cursor: pointer;
        
        &:hover {
            color: #333;
        }
    }

    #emptyCartMsg {
        display: none;
    }

    .clear-btn {
        position: relative;
        float: right;
        background-color: #f02f2f;
        color: #fff;
        border: none;
        width: 50px;
        height: 20px;

        &:hover {
            background-color: #a52d2d;
            cursor: pointer;
        }
    }

    .cart-items {
        .cart-item {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #f0f0f0;

            img {
                width: 60px;
                height: 60px;
                border-radius: 8px;
                margin-right: 15px;
            }

            .item-details {
                flex-grow: 1;
                display: flex;
                gap: 40px;
                
                h3 {
                    margin: 0;
                    font-size: 18px;
                }

                .order-id {
                    font-size: 12px;
                    color: #888;
                }

                .color {
                    font-size: 14px;
                    color: #444;
                }
            }

            .order-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 10px;

                .quantity {
                    display: flex;
                    align-items: center;

                    button {
                        background: none;
                        border: 1px solid #ddd;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        font-size: 16px;
                        color: #333;
                        cursor: pointer;

                        &:hover {
                            border-color: #333;
                        }
                    }

                    .count {
                        padding: 0 10px;
                        font-size: 16px;
                    }
                }

                .size-btns {
                    display: flex;
                    gap: 3px;
                    margin-top: 5px;
                    font-size: 1.1rem;

                    .size-option {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 3px;

                        input[type="radio"] {
                            appearance: none; // Hides the default radio button
                            width: 20px;
                            height: 20px;
                            border: 2px solid #333; // Default border color
                            border-radius: 50%; 
                            background-color: white;
                            cursor: pointer;

                            &:checked {
                                background-color: $button-color; 
                                border-color: $button-hover-color; 
                            }

                            &.disabled {
                                opacity: 0.2; 
                                pointer-events: none;
                            }
                        }
                
                        label {
                            &.disabled {
                                opacity: 0.2; 
                                pointer-events: none;
                            }
                        }
                        .sz-price {
                            font-size: 1.1rem;
                            color: #008f34;
                            margin: 0 5px; 
                            
                            &.disabled {
                                opacity: 0.2; 
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .price {
                font-size: 1.5rem;
                color: #6a5acd;
                font-weight: bold;
                margin-right: 20px;
            }

            .remove-item {
                background: none;
                border: none;
                font-size: 20px;
                color: #F44336;
                cursor: pointer;

                &:hover {
                    color: #333;
                }
            }

            @media (max-width: 480px) {
                flex-direction: column;

                img {
                    margin: 0;
                }
                .item-details {
                    align-self: flex-start;
                    flex-direction: column;
                    gap: 0;
                    
                    .wick-type-dropdown {
                        margin: 5px;
                    }
                }
                .order-details {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .price {
                    align-self: flex-end;
                    margin: 0;
                }   
                .remove-item {
                    position: absolute;
                    right: 20px;
                }
                
            }
        }
    }

    .cart-summary {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 1px solid #f0f0f0;

        .subtotal-label {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        .subtotal-price {
            font-size: 24px;
            color: #000;
            font-weight: 900;
        }
    }

    .cart-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Create a 2x2 grid */
        grid-template-areas:
            "empty top-right"
            "bottom-left checkout";
        gap: 10px; 
        padding-top: 10px;

        .back-to-shop,
        .checkout,
        .clear-btn {
            padding: 10px;
            font-size: 16px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
        }

        .back-to-shop {
            background-color: #333;
            color: #fff;
            border: none;
            grid-area: bottom-left;

            &:hover {
                background-color: #444;
            }
        }

        .checkout {
            background-color: #6a5acd;
            color: #fff;
            border: none;
            grid-area: bottom-right;

            &:hover {
                background-color: #5a4eb8;
            }
        }

        .clear-btn {
            background-color: #f02f2f;
            color: #fff;
            border: none;
            width: 100%; /* Make it full-width within the grid cell */
            height: auto;
            font-size: 16px;
            grid-area: top-right;

            &:hover {
                background-color: #a52d2d;
            }
        }

         /* Map the grid areas to specific buttons */
         .empty {
            grid-area: empty; /* Top-left is empty */
        }

        .top-right {
            grid-area: top-right; 
        }

        .bottom-left {
            grid-area: bottom-left; 
        }

        .checkout {
            grid-area: checkout; 
        }
    }
}



