@import 'variables';
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Dimmed overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}
  
/* Spinner */
.spinner {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-left-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.checkout-page {
    padding: 1rem;
    background: $background-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    // padding-top: 230px;

    h1 {
        text-align: center;
        font-size: 1.8rem;
        color: #333;
        margin-bottom: 1rem;
    }
}

.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .shipping-summary {
        flex: 2;
        padding: 1.8rem;

        h2 {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 1rem;
        }


        .cart-summary {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 5.2rem;

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                background: #fff; // White background for each item
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
                img {
                    width: 100%;
                    border-radius: 6px;
                    object-fit: cover; // Ensures the image maintains its aspect ratio
                }
        
                .item-details {
                    flex: 1;
                    margin-left: 1rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .item-header {
                        display: flex;
                        align-items: center;
                        gap: 1.2rem;

                        h3 {
                            font-size: 1rem;
                            margin: 0;
                            color: #333;
                        }
                    }
        
                    .item-pricing-info {
                        display: flex;
                        gap: 1.2rem;

                        p {
                            font-size: 0.9rem;
                            margin: 0.2rem 0;
            
                            strong {
                                color: #000; 
                            }
                        }
                    }

                    
                }

                @media (max-width: 768px) {
                    flex-direction: column;
                    .item-details {
                        display: block;

                        .item-header {
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        .item-pricing-info {
                            flex-direction: column;
                        }
                    }
                }
        
                @media (max-width: 480px) {
                    flex-direction: column;
                    align-items: flex-start;
        
                    img {
                        width: 100%;
                        height: auto;
                    }
        
                    .item-details {
                        margin-left: 0;
                        margin-top: 1rem;
        
                        p {
                            text-align: left;
                        }
                    }
                }
            }
        }
        
        .personal-info {
            margin-bottom: 5.2rem;

            input {
                width: 91%;
                padding: 24px;
                background: $background-color;
                transition: background-color 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
                border: 1px solid #000;

                &:invalid {
                    color: $text-danger;
                    border-color: $text-danger;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02), 0 0 0 1px var(--colorDanger);
                }
            }

        }

        .shipping-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-row {
                display: flex;
                gap: 1rem;

                input,
                select {
                    flex: 1;
                    padding: 0.5rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 1rem;
                }
            }

            .checkbox-row {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                label {
                    font-size: 0.9rem;
                    color: #555;
                }
            }

            

            .helper-text {
                font-size: 0.8rem;
                color: #888;
            }
        }
    }

    .shipping-options {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 20px auto;
        position: relative;

        .shipping-loading-overlay {
            display: none;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .spinner {
                border: 6px solid rgb(0 0 0 / 30%);
                border-left-color: #fff;
            }
        }
    
        h2 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: #333;
        }
    
        .shipping-options-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        .shipping-card {
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 8px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
            &:hover {
                border-color: #007bff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
    
            input[type="radio"] {
    
                &:checked  {
                    border-color: #007bff;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    background-color: #eaf4ff;
                }
            }
    
            label {
                display: flex;
                align-items: center;
                width: 100%;
                cursor: pointer;
    
                .card-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    h3 {
                        font-size: 1.2rem;
                        margin: 0;
                        color: #333;
                    }
    
                    p {
                        font-size: 0.9rem;
                        margin: 0;
    
                        &.price {
                            font-weight: bold;
                            color: $button-color;
                        }
                    }
                }
            }
        }
    }

    .order-summary {
        background: #f1f1f1;
        padding: 2rem;
        border-radius: 4px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        .img-container {
            margin: 0 auto;
        }

        .order-loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5); 
            display: none; 
            justify-content: center; 
            align-items: center; 
            z-index: 10; 

            .spinner {
                border: 6px solid rgb(0 0 0 / 30%);
                border-left-color: #fff;
            }
        }

        .order-details {
            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: #333;
            }

            .summary-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                p {
                    margin: 0;
                    font-size: 1rem;
                    color: #555;
                }

                .free-price {
                    color: green;
                }
            }

            .total {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                font-weight: bold;
                color: #333;
            }
        }
    }

    .paynow-button {
        width: 100%;
        padding: 0.75rem;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }

        &:disabled {
            background-color: grey;
            cursor: not-allowed;
        }
    }

    .error-msg {
        display: none;
        margin-top: 1rem;
        font-size: 0.9rem;
        color: $text-danger;
    }
}
